<div>
    <div class="page-header-container box">Crawler List</div>
    <div class="page-body box">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
                <p class="input-group">
                    <input type="text" class="form-control input-sm" uib-datepicker-popup="{{datepickerConfig.format}}" ng-model="filter.fromdate" is-open="popup1.opened"
                        datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="datepickerConfig.altInputFormats" placeholder="From date"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default btn-sm" ng-click="open1()">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
                <p class="input-group">
                    <input type="text" class="form-control input-sm" uib-datepicker-popup="{{datepickerConfig.format}}" ng-model="filter.todate" is-open="popup2.opened"
                        datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="datepickerConfig.altInputFormats" placeholder="To date"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default btn-sm" ng-click="open2()">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </p>
            </div>
            <!-- <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
                <select class="form-control input-sm" ng-model="filter.type" >
                    <option value="0">ALL</option>
                    <option value="1">Successfully Match</option>
                    <option value="2" selected>SMS need to check</option>
                    <option value="3">Unwanted SMS</option>
                    <option value="4">SMS Balance</option>
                    <option value="5">SMS Filtered</option>
                </select>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
                <select class="form-control input-sm" ng-model="filter.user" >
                    <option value="">- ALL -</option>
                    <option ng-repeat="item in phoneUsers" value="{{item.user}}">{{item.user}}</option>

                </select>
            </div> -->
            <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
                <div class="button-container">
                    <button type="button" class="btn btn-default btn-sm" ng-click="refresh()" ng-disabled="gridIsLoading==true">{{globallang.refresh}}</button>
                </div>
            </div>
            <div style="margin-top: 4px;" class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
                <input class="form-check-input" ng-model="filter.history" type="checkbox">
                <label class="form-check-label" style="margin-right: 12px;">
                  History 
                </label>
            </div>
        </div>
        <div id="grid1" ui-grid="gridOptions" class="grid" ui-grid-resize-columns ui-grid-auto-resize ui-grid-pinning ui-grid-exporter ng-style="{'height': getHeight()+'px'}">
            <div class="grid-nodata-container" ng-show="gridOptions.data.length == 0 && !gridIsLoading">No Data Available</div>
            <div class="grid-loading-container" ng-show="gridIsLoading">
                <img src="images/loading.gif" />
            </div>
        </div>
    </div>
</div>
