<div>
    <div class="page-header-container box">{{pagelang.pagetitle}}</div>
    <div class="page-body box">
        <div class="button-container">
            <button type="button" class="btn btn-primary btn-sm" ng-click="addnew()">{{globallang.addnew}}</button>
			<button type="button" class="btn btn-default btn-sm" ng-click="deactive()">Deactive Bank</button>
            <button type="button" class="btn btn-default btn-sm" ng-click="refresh()">{{globallang.refresh}}</button>
            <button type="button" class="btn btn-default btn-sm" ng-click="group()">{{globallang.group}}</button>
            <button type="button" class="btn btn-default btn-sm" ng-click="upline()">Upline</button>
            <button type="button" class="btn btn-default btn-sm" ng-click="issue()">Issue</button>
        </div>
        <div id="grid1" ui-grid="gridOptions" class="grid" ui-grid-resize-columns ui-grid-auto-resize ui-grid-selection ui-grid-exporter ng-style="{'height': getHeight()+'px'}">
            <div class="grid-nodata-container" ng-show="gridOptions.data.length == 0 && !gridIsLoading">No Data Available</div>
            <div class="grid-loading-container" ng-show="gridIsLoading">
                <img src="images/loading.gif" />
            </div>
        </div>
    </div>
</div>
