<div>
    <div class="page-header-container box">{{pagelang.pagetitle}}</div>
    <div class="page-body box">
        <div class="row">
            <div class="col-xs-12 col-sm-2 col-md-1 col-lg-1" style="padding-top:6px;">
                Trans. Id : 
            </div>
            <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
                <input type="text" class="form-control input-sm" ng-model="filter.transId" placeholder="input Transaction Id here" />
            </div>
            <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
                <div class="button-container">
                    <button type="button" class="btn btn-default btn-sm" ng-click="refresh()" ng-disabled="gridIsLoading==true">{{globallang.refresh}}</button>
                </div> 
            </div>
            <div style="margin-top: 4px;" class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
              <input class="form-check-input" ng-model="filter.history" type="checkbox">
              <label class="form-check-label">
                History 
              </label>
            </div>
            
        </div>
        <div id="grid1" ui-grid="gridOptions" class="grid" ui-grid-resize-columns ui-grid-auto-resize ui-grid-exporter>
            <div class="grid-nodata-container" ng-show="gridOptions.data.length == 0 && !gridIsLoading">No Data Available</div>
            <div class="grid-loading-container" ng-show="gridIsLoading">
                <img src="images/loading.gif" />
            </div>
        </div>
    </div>
</div>
