<div>
  <div class="page-header-container box">Merchant Transaction by Date</div>
  <div class="page-body box">
    <div class="row">
      <!--<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                  Date : 
              </div>-->
      <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
        <p class="input-group">
          <input type="text" class="form-control input-sm" uib-datepicker-popup="{{datepickerConfig.format}}"
            ng-model="filter.fromdate" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true"
            close-text="Close" alt-input-formats="datepickerConfig.altInputFormats" placeholder="From date" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default btn-sm" ng-click="open1()">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
        </p>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
        <p class="input-group">
          <input type="text" class="form-control input-sm" uib-datepicker-popup="{{datepickerConfig.format}}"
            ng-model="filter.todate" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true"
            close-text="Close" alt-input-formats="datepickerConfig.altInputFormats" placeholder="To date" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default btn-sm" ng-click="open2()">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
        </p>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-6 col-lg-6">
        <p class="input-group">
          <button type="button" class="btn btn-default btn-sm" ng-click="refresh()" ng-disabled="gridIsLoading==true">
            {{globallang.refresh}}
          </button>
          &nbsp;
          <!--
                        <button type="button" class="btn btn-success btn-sm" ng-click="deposit()">Deposit</button>
                      -->
        </p>
      </div>
      <div class="button-status">
        <div class="subStatus" style="display: none" ng-click="pending($event)">
          PENDING
        </div>
        <div class="subStatus" style="display: none" ng-click="accepted($event)">
          ACCEPTED
        </div>
        <div class="subStatus" style="display: none" ng-click="failed($event)">
          FAILED
        </div>
        <div class="subStatus" style="display: none" ng-click="allShow($event)"
          style="border-right: 1px solid rgba(0, 0, 0, 0.1)">
          ALL
        </div>
        <button type="button" ng-click="statusABC($event)" class="custom-add-status">
          STATUS
        </button>
        <button type="button" class="custom-add-refresh" ng-click="refresh()" ng-disabled="gridIsLoading==true">
          {{globallang.refresh}}
        </button>
      </div>
    </div>
    <!--<div class="row">
              <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                  Account : 
              </div>
              <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
                  <select class="form-control input-sm" ng-model="filter.accountno">
                      <option value="0">- ALL ACCOUNT -</option>
                      <option ng-repeat="item in acclist" value="{{item.bankaccountno}}">{{item.bankaccountno}}</option>
                  </select>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
                  <div class="button-container">
                      <button type="button" class="btn btn-default btn-sm" ng-click="refresh()">{{globallang.refresh}}</button>
                      <button type="button" class="btn btn-success btn-sm" ng-click="deposit()">Deposit</button>
                  </div>
              </div>
          </div>-->
    <div id="grid1" ui-grid="gridOptions" class="grid" ui-grid-resize-columns ui-grid-auto-resize ui-grid-exporter>
      <div class="grid-nodata-container" ng-show="gridOptions.data.length == 0 && !gridIsLoading">
        No Data Available
      </div>
      <div class="grid-loading-container" ng-show="gridIsLoading">
        <img src="images/loading.gif" />
      </div>
    </div>
  </div>
</div>